{% extends "base.html" %}
{% block start %}

<div class="container m-5 border border-dark">

    <form class="m-5" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <h2>Add Department</h2>
        <div class="mb-3">
            <label for="" class="form-label">Department: </label><br>
            <input type="text" name="department" id="" aria-describedby="">
        </div>
    <button type="submit" class="btn btn-primary">ADD</button>

    </form>
</div>
<hr>
<h1>Department list</h1>
<hr>
<table class="table m-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Department Name</th>
    </tr>
  </thead>
  <tbody>
    {% for q in query %}
    <tr>
      <th scope="row">{{ forloop.counter}}</th>
      <td>
          {{ q.department }}
      </td>
    </tr>
    {% endfor%}

 
</tbody>
</table>
{% endblock %}