{% extends "base.html" %}
{% block start %}

    <div class="d-flex">
        <a  class="btn btn-outline-success m-5" href="add_student">Add student</a>
        <a  class="btn btn-outline-success m-5" href="deleted_stu_list/">Deleted student</a>
        <a  class="btn btn-outline-success  m-5" href="department/">department</a>
        <a  class="btn btn-outline-success  m-5" href="subject/">subject</a>
    </div>

  <div class="contain m-5">
      {% if messages %}
  <ul class="messages list-unstyled">
      {% for message in messages %}
      <li{% if message.tags %} class="alert alert-primary {{ message.tags }}" role="alert"{% endif %} >{{ message }}</li>
      {% endfor %}
  </ul>
{% endif %}
  <div class="contain m-5">
    <form method="get" class="d-flex mb-3">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" value="{{ request.GET.search }}">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>

    <hr>
    <h1>student list</h1>
    <hr>
    <table class="table m-3">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">department</th>
        <th scope="col">student_id</th>
        <th scope="col">student_name</th>
        <th scope="col">student_email</th>
        <th scope="col">student_age</th>
        <th scope="col">student_address</th>
        <th scope="col">is_deleted</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for q in query %}
        <tr>
        <th scope="row">{{ forloop.counter}}</th>
        <td>{{ q.department }}</td>
        <td>{{ q.student_id }}</td>
        <td>{{ q.student_name }}</td>
        <td>{{ q.student_email }}</td>
        <td>{{ q.student_age }}</td>
        <td>{{ q.student_address }}</td>
        {% if q.is_deleted %}
        <td class="text-danger">deleted</td>
        {% else %}
        <td class="text-success">exist</td>
        {% endif %}
        <td><a class="btn btn-danger" href="delete_stu/{{ q.student_id }}"> Delete </a></td>
        </tr>
        {% endfor%}

        </tbody>
        </table>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if query.has_previous %}
      <li class="page-item"><a class="page-link"  href="?page=1"> first - 1</a></li>
      <li class="page-item"><a class="page-link"  href="?page={{ query.previous_page_number }}">previous</a></li>
      {% endif %}
      <li class="page-item"><span class="page-link">{{ query.number }}</span> </li>
      <!-- <span class="current">
                Page {{ query.number }} of {{ query.paginator.num_pages }}.
      </span> -->
      {% if query.has_next %}
      <li class="page-item"><a class="page-link"  href="?page={{ query.next_page_number }}">next</a></li>
      <li class="page-item"><a class="page-link"  href="?page={{ query.paginator.num_pages }}">last - {{ query.paginator.num_pages }} </a></li>
      {% endif %}
    </ul>
  </nav>
</div>
 
{% endblock %}