{% extends "base.html" %}
{% block start %}

<div class="container m-5 border border-dark">

    <form class="m-5" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <h2>Add subject</h2>
        <div class="mb-3">
            <label for="" class="form-label">Subject: </label><br>
            <input type="text" name="subject" id="" aria-describedby="">
        </div>
    <button type="submit" class="btn btn-primary">ADD</button>
    </form>
    {% if messages %}
  <ul class="messages list-unstyled">
      {% for message in messages %}
      <li{% if message.tags %} class="alert alert-primary {{ message.tags }}" role="alert"{% endif %} >{{ message }}</li>
      {% endfor %}
  </ul>
{% endif %}
</div>
<hr>
<h1>Subject list</h1>
<hr>
<table class="table m-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Subject Name</th>
    </tr>
  </thead>
  <tbody>
    {% for sub in query %}
    <tr>
      <th scope="row">{{ forloop.counter}}</th>
      <td>
          {{ sub.subject_name }}
      </td>
    </tr>
    {% endfor%}

</tbody>
</table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if query.has_previous %}
      <li class="page-item"><a class="page-link"  href="?page=1"> first - 1</a></li>
      <li class="page-item"><a class="page-link"  href="?page={{ query.previous_page_number }}">previous</a></li>
      {% endif %}
      <li class="page-item"><span class="page-link">{{ query.number }}</span> </li>
      <!-- <span class="current">
                Page {{ query.number }} of {{ query.paginator.num_pages }}.
      </span> -->
      {% if query.has_next %}
      <li class="page-item"><a class="page-link"  href="?page={{ query.next_page_number }}">next</a></li>
      <li class="page-item"><a class="page-link"  href="?page={{ query.paginator.num_pages }}">last - {{ query.paginator.num_pages }} </a></li>
      {% endif %}
    </ul>
  </nav>
{% endblock %}